# Ignore terraform state files
.terraform
terraform.tfstate
terraform.tfstate.backup

.DS_Store
.history
.vscode
Pipfile

.kitchen/*

# Ignore provider lock file (for now):
.terraform.lock.hcl

__pycache__/
 *.pyc
.pytest_cache

# Coverage
db.sqlite3
.coverage
htmlcov/
.tox/
.coverage.*
.coverage_*